bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea/
.idea.*/
*.iml
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
build/
[Ll]og/
[Ll]ogs/

[Oo]utput/
output/